
table

{
  margin: 54px 100px 100px 72.5px;
  background-image: url(button.gif);
  width: 140px;
}


body
{

  background-image: url(3ds.png);
  background-size: 300px;
  background-repeat: no-repeat;
}

button
{

  width: 100%;
  height: 17px;

}
tr, td
{
  width: 43px;

}

#nolla
{
  text-align: center;
}
