body
{
  background-image: url(junk-car.jpg);
background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;

}
form
{
  margin: 0 auto;
  background-color: lightblue;
  width: 750px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 4rem;
  border-style: groove;
  border-width: 10px;
}
#opel
{
  padding: 20px;
  text-align: center;
}
h1
{
  font-family: 'Alumni Sans Pinstripe', sans-serif;

}
#clearButton
{
  float: right;
  box-shadow: 1px 2px 1px;
  border-radius: 5px;
}
#clearButton:hover
{
  opacity: 0.5;
}
}
#removeKey
{
  width: 35px;
}
.tietue
{
border-radius: 15px;
  background-color: lightblue;
  margin: 0 auto;
 text-align: center;
  box-sizing: border-box;
  width: 750px;
  min-height: 450px;
  padding: 35px;
  border-style: groove;
  border-width: 10px;
  margin-top: 0.5rem;
}
#mobiili
{
  border: 1px solid black;
  background-color: #d9e3f1;
  padding: 10px;

}
