form
{
  margin: 0 auto;
  background-color: lightblue;
  height: 100px;
  width: 700px;
}
#opel
{
  padding: 20px;
  text-align: center;
}
h1
{
  font-family: 'Alumni Sans Pinstripe', sans-serif;

}
#clearButton
{
  float: right;
  box-shadow: 3px 3px 3px;
  border-radius: 5px;
}
#clearButton:hover
{
  opacity: 0.5;
}
