
body /* Taustaväri*/
{
  background-color: #758DC3;
}

img /* Kuvien muotoilua*/
{


  width: 15rem;
  height: 15rem;
  padding: 1.50rem;
  border-radius: 20%;

}

  table /* Kuvien sijainnin muotoilua*/
{
    margin: 0 auto;
    margin-top: 2.5rem;
    background-color: lightblue;
}
figcaption  /*Kuvateksti*/
{
  text-align: center;
}
img:hover  /*Muuttaa kuvan kun hiiri viedään kuvan päälle*/
{

  transform: scale(1.4);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50% );
  border-radius: 0%;
}
