
img
{
  transition: 1.5s ease;
  width: 15rem;
  height: 15rem;
  padding: 1.50rem;
}
  table
{
    margin: 0 auto;
    margin-top: 2.5rem;
  }
figcaption
{
  text-align: center;
}
img:hover
{
  opacity: 0.2;

}
#speaker:hover
{
  opacity: 1;
}
#speaker
{
  transition: 1.5s ease;
  position: absolute;
  width: 15rem;
  height: 15rem;
  padding: 1.50rem;
  opacity: 0;
}
