
table
{
  margin: 13px 100px 0px 69px;
  background-image: url(Matrixcode.gif);
  height: 95px;
  width: 146px;
  border-radius: 4px;
  transform:  perspective(120px) rotateX(10deg);
  transform-origin: bottom center;
  transform-style: preserve-3d;
    border-style: ridge;
}
#ylän
{
  border-radius: 3px;
  margin: 55px 0px 0px 70px;
  width: 135px;
  height: 77px;
  border-style: ridge;
}

body
{

  background-image: url(3ds.png);
  background-size: 300px;
  background-repeat: no-repeat;
}
#reload
{

  color: white;

  width: 35.5px;
  height: 23px;
  border-radius: 100%;
  font-size: 7px;
  float: left;
  margin-top: -72px;
  margin-left: 29px;
  border-style: ridge;
}
.nappi
{
  width: 100%;
  height: 13px;
  font-size: 7px;
}
tr, td
{
  width: 43px;

}

#nolla
{
  text-align: center;
}

#m1, #m2, #m3
{
  color: #ffffff;
  font-size: 8px;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-family: 'Silkscreen', cursive;
}
article
{
  margin: 0 auto;
  padding: 4px;
  background-image: url(Matrixcode.gif);
  width: 270px;
}
main
{
  margin: 0 auto;
  width: 250px;
  background-color: yellow;
  padding: 20px;
}


.nappi

{


.nappi:disabled,
.nappi.disabled{
  color: #fff;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}

.nappi.disabled:hover,
.nappi.disabled:focus {
  color: red;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}
.nappi.oikein{
  color:yellow;
  border-color: red;
  background-color: red;
}
.nappi.oikein:disabled:hover,
.nappi.oikein:disabled:focus
{
  color:yellow;
  border-color: red;
  background-color: red;
}
